/*general and home page */
html{
	scroll-behavior: smooth;
}

body{
	background-color: #EADEDE;
	color: #363A3A;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-size: 50px;
	text-align: center;
	padding: 10px;
	letter-spacing: .15em;
	/*text shadow effect from https://codepen.io/juanbrujo/pen/yGpAK*/
  text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba;
  }

p{
	font-size: 18px;
	padding: 5px;
}

footer{
	padding-top: 20px;
	font-size: 12px;
	text-align: center;
	background-color: #BFDDEF;
	border-top: 2px solid #7C7676;
}

#logolinks{
	width: 40%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footerimg{
	width: 30px;
	height: auto;
	text-align: center
	padding: 10px;
}

.blurb{
	text-align: center;
	padding: 10px;
	font-size: 20px;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  color: blue;
}

.skip a:focus{
  top: 0px;
  border: 2px solid #000000;
}
.nav-item{
	padding: 14px 16px;
}

.active-nav-item{
	font-size: 18px;
	padding: 14px 16px;
	background-color: #214E68;
	color: #EADEDE;
}
.active-nav-item a, .active-nav-item a:visited, .active-nav-item a:link{
	color: #EADEDE;
}

#home{
	grid-column: 1/2;
}

#about{
	grid-column: 2/3;
}

#work{
	grid-column: 3/4;
}

#music{
	grid-column: 3/4;
}

#gallery{
	grid-column: 4/5;
	}

#contact{
	grid-column: 5/6;
}

nav a{
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline;
}

nav{
	display: grid;
	grid-template-columns: repeat(6, 100px) 1fr;
  background-color: #BFDDEF;
  text-align: center;
  border-bottom-style: solid;
	border-width: 2px;
	border-color: #7C7676;
	}

a, a:link, a:visited{
	color: #363A3A;
}

/*home*/
/*consulted https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08
for fade in animation*/
#intro{
	animation: fadeIn ease 3s;
 	-webkit-animation: fadeIn ease 3s;
 	-moz-animation: fadeIn ease 3s;
 	-o-animation: fadeIn ease 3s;
 	-ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
/*consulted https://www.w3schools.com/howto/howto_css_flip_card.asp for flipcard*/
.flip-card {
  background-color: transparent;
  margin: 0 auto;
	height: 589px;
	width: 590px;
	margin: auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/*added to w3 code to flip card when targeted by keyboard tab*/
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  border-radius: 50%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #363A3A;
  color: #EADEDE;
}

/* Style the back side */
.flip-card-back {
  background-color: #214E68;
  color: #EADEDE;
  transform: rotateY(180deg);
}

.headshot{
	max-width: 80%
	height: auto;
	text-align: center;
	padding: 5px;
}


#headshotimg{
	border-radius: 50%;
}


/*about*/



#aboutcont{
	padding-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 450px 450px 250px;
}

#sign{
	grid-column: 1/2;
	grid-row: 1/2;
}

#signimg{
	max-width: 80%;
	height: auto;
	border-radius: 15px;
	padding: 10px;
}

#synth2{
	grid-column: 2/3;
	grid-row: 2/3;
}

#synthimg{
	max-width: 80%;
	height: auto;
	border-radius: 15px;
	padding: 10px;
}

#about1{
	padding: 10px;
	grid-column: 2/3;
	grid-row: 1/2;
}

#about2{
	padding: 10px;
	grid-column: 1/2;
	grid-row: 2/3;
}


#about3{
	padding: 10px;
	grid-column: 1/3;
	grid-row: 3;
}


/*music*/
#musicheader{
	background-color: #214E68;
	border-style: solid;
	border-color: #BFDDEF;
	border-width: 2px;
	text-align: center;
	max-width: 50%;
	margin: auto;
	color: #EADEDE;
	text-shadow: none;
}

.mv{
	padding: 5px;
	text-align: center;
}

#bc{
	padding: 5px;
	text-align: center;
}

iframe{
	border-style: solid;
	border-color: #BFDDEF;
	border-width: 2px;
}

.musicblurb{
	background-color: #214E68;
	border-style: solid;
	border-color: #BFDDEF;
	border-width: 2px;
	text-align: center;
	max-width: 50%;
	margin: auto;
	color: #EADEDE;
	padding: 5px;
}

.parallax{
	background-image: url('../images/synth.JPG');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#mvs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/*gallery*/
#imggallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}


.gal{
	max-width: 40%;
	height: auto;
	padding:10px;
	opacity: 0.7;
}

.gal:hover{
	opacity: 1.0;
	max-width: 50%;
}

/*contact*/

#formbox{
	padding: 15px;
	max-width: 90%;
	margin: auto;
}

input[type=text], textarea{
	width: 80%;
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
}

.contact{
font-size: 18px;
}

#message{
	height: 200px;
}

button{
	background-color: #BFDDEF;
	color: #363A3A;
	font-size: 18px;
	border-radius: 5px;
	width: 80px;
	height: 32px;
}

button:hover{
	background-color: #214E68;
	color: #EADEDE;
}


@media all and (min-width: 600px){

nav{
	grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 10px;
}

#home{
	grid-column:2/3;
}

#about{
	grid-column: 3/4;
}

#music{
	grid-column: 4/5;
}

#gallery{
	grid-column: 5/6;
}

#contact{
	grid-column: 6/7;
}

.gal{
	max-width: 25%;
}

.gal:hover{
	max-width: 35%;
}
}

@media all and (min-width: 800px){

nav{
  align-self: center;
	grid-template-columns: 1fr repeat(6, 100px);
}


#home{
	grid-column: 3/4;
}

#about{
	grid-column: 4/5;
}

#music{
	grid-column: 5/6;
}

#gallery{
	grid-column: 6/7;
}

#contact{
	grid-column: 7/8;
}

#logolinks{
	flex-direction: row
}

#aboutcont{
	padding-top: 40px;
	display: grid;
	grid-template-columns:50px 1fr 1fr 50px;
	grid-template-rows: repeat(3, 300px);
}

#sign{
	grid-column: 2/3;
	grid-row: 1/2;
}

#signimg{
	max-width: 30%;
	height: auto;
	border-radius: 15px;
	padding: 10px;
}

#synth2{
	grid-column: 2/3;
	grid-row: 2/3;
}

#synthimg{
	max-width: 30%;
	height: auto;
	border-radius: 15px;
	padding: 10px;
}

#about1{
	padding: 10px;
	grid-column: 3/4;
	grid-row: 1/2;
}

#about2{
	padding: 10px;
	grid-column: 3/4;
	grid-row: 2/3;
}


#about3{
	padding: 10px;
	grid-column: 2/4;
	grid-row: 3;
}

.gal{
	max-width: 20%;
}

.gal:hover{
	max-width: 25%;
}
}
@media screen and (prefers-reduced-motion: reduce){
html{
    scroll-behavior: auto; /* Removes scroll animation */
  }

#intro{
  	animation: none;
 	-webkit-animation: none;
 	-moz-animation: none;
 	-o-animation: none;
 	-ms-animation: none;
}

.flip-card:hover .flip-card-inner {
  transform: none;
}
/*added to w3 code to flip card when targeted by keyboard tab*/
.flip-card:focus .flip-card-inner {
  transform: none;
}

.skip a{
 	-webkit-transition: none;
    transition: none;
  }
}
